body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
   color:black
}
header{
    background-color: #3C3C3C;
    color: white;
}
#navbar img{
    width:215px;
    height: 50px;
}
#navbar,ul{
    display:flex;
    justify-content: space-between;
}
#navbar ul{
    list-style: none;
}
#navbar ul li a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#navbar ul li a:hover{
    color: #73BF44;
}
#navbar input{
    width: 200px;
    height: 30px;
    margin-top: 2px;
    margin-left: 10px;
}
.search,.cont,.two{
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}
form{
    margin-top:10px;
}
/* ===========Body==================== */
.Hero{
    margin: auto;
    margin-top: 120px;
    width: 80%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
}
 h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.Hero p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 100px;
}

.Service{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.courses{
    display: flex;
    flex-direction: row;
}
.image{
    width: 400px;
    height: 300px;
    margin: 20px;
    box-shadow: 1px 1px 6px black;

}
.image:hover{
    transform: scale(1.25);

}
.btn{
    margin: 25px 0;
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color:#73BF44 ;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    color:#73BF44 ;
    background-color: white;
    border:2px solid #3C3C3C;
}
footer{
    background-color:#3C3C3C;
    padding-bottom: 10px;
    color: white;
}
.contact{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 65px;
    height: 300px;
    font-size: 20px;
}
.contact p{
    margin-left: 10px;
}
.cont:hover,.two:hover{
    color: #73BF44;
}
.two{
    margin: 10px 106px 0 0;
}
span{
    color: #73BF44;
}